body {
    background: rgb(168, 165, 165);
}
.container {
    width: 80%;
    margin: auto;
}
header {
    font-family: Fascinate;
    font-style: italic;
    color: white;
    text-align: center;
}
.navbar h2 a {
    text-decoration: none;
    color: black;
    font-family: "PT Sans Narrow";
    font-weight: 80;
}
.navbar {
    background: rgb(125, 6, 6);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search input, button{
    font-family: "PT Sans Narrow";
    font-weight: 80;
}
.input-box {
    padding: 5px 40px 5px 5px;
}
.search-btn {
    background: rgb(27, 23, 23);
    color: white;
    padding: 5px 30px;
}
main {
    display: flex;
}
main h2, h3 {
    font-family: Fascinate;
    font-style: italic;   
}
main p, ul, li {
    font-family: "PT Sans Narrow";
    font-weight: 80;
}
.article {
    background: white;
    padding: 15px;
    flex-basis: 74%;
    margin: 15px 15px 15px 0;
}