body {
    background: rgb(168, 165, 165);
}
.container {
    width: 80%;
    margin: auto;
}
header {
    font-family: Fascinate;
    font-style: italic;
    color: white;
    text-align: center;
}
.navbar h2 a {
    text-decoration: none;
    color: black;
    font-family: "PT Sans Narrow";
    font-weight: 80;
}
.navbar {
    background: rgb(125, 6, 6);

}